Makefile
config.h
code-index.db
code-index.db*
index.db
index.db*
*.db
*.db*
build/*
parser.c
*.o
**/*.o
tree-sitter-*
index-c
index-go
index-php
index-python
index-ts
qi
query-index
tools/ast-explorer-c
tools/ast-explorer-php
tools/ast-explorer-python
tools/ast-explorer-ts
tools/ast-explorer-go
tools/*
!tools/*.*
!/tools/*/*
benchmark/*
!benchmark/*.*
tmp/*
!tmp/*.*
*/grammar_version.h
token-science
ai-log
tmp/cachegrind*
